@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    height: calc(100vh - 80px);
}

.auth-image {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
}
.auth-form-fields {
    flex: 1;
}

label {
    font-family: 'Inter', sans-serif;
    color: #9DA2B0;
}

input {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    width: calc(100% - 4px);
    padding: 16px 2px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 32px;
    transition: all 0.2s ease-in-out;
}
input:focus {
    border-bottom: 1px solid #9DA2B0;
}