@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.btn {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 16px;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 12px;
}

.btn-primary {
    background-color: #C9213F;
    background-image: linear-gradient(
        to right,
        #ff8383 0%,
        #c9213f 70%,
        #c9213f 100%
    );
    color: #FFFFFF;
}

.btn-secondary {
    background-color: #FFFFFF;
    color: #9DA2B0;
}