@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.btn {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    padding: 16px;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 12px;
}

.btn-primary {
    background-color: #C9213F;
    background-image: linear-gradient(
        to right,
        #ff8383 0%,
        #c9213f 70%,
        #c9213f 100%
    );
    color: #FFFFFF;
}

.btn-secondary {
    background-color: #FFFFFF;
    color: #9DA2B0;
}

.btn-add-large {
    background-color: #7fd886;
    color: #ffffff;
    font-size: 18px;
}
.btn-add-large span {
    font-weight: 600;
}

.btn-add {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 42px;
    height: 42px;
    background-color: white;
    border: 2px solid #7fd886;
    color: #353841;
}