@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    padding: 12px 16px;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 12px;
}

.btn-primary {
    background-color: #C9213F;
    background-image: linear-gradient(
        to right,
        #ff8383 0%,
        #c9213f 70%,
        #c9213f 100%
    );
    color: #FFFFFF;
}

.btn-secondary {
    background-color: #FFFFFF;
    color: #9DA2B0;
}

.btn-add-large {
    background-color: #5bcc65;
    color: #ffffff;
    font-size: 18px;
}
.btn-add-large span {
    font-weight: 600;
}

.btn-add {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 42px;
    height: 42px;
    background-color: white;
    border: 2px solid #5bcc65;
    color: #353841;
}

.btn-add-small {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 42px;
    height: 32px;
    border-radius: 8px 0px 0px 8px;
    background-color: #f5f5f5;
    color: #353841;
}
.btn-add-small-2 {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 42px;
    height: 32px;
    border-radius: 0px 8px 8px 0px;
    background-color: #f5f5f5;
    color: #353841;
}

.btn-close {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 42px;
    height: 42px;
    background-color: white;
    font-size: 24px;
    margin-right: -12px;
    color: #9DA2B0;
}

.btn-disabled {
    background-color: #9DA2B0;
}

.btn-add-list {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #353841;
}
.btn-add-list:active {
    color: #9DA2B0;
}