@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #cf5050;
    --pale: #f7f7f7;
    --gray: #9DA2B0;
    --border-color: #e7e7e7;
    --success: #5bcc65;
}

body {
    font-family: 'Outfit', sans-serif;
    height: calc(100vh - 16px);
    width: calc(100vw - 16px);  
    margin: 0px;
    overflow-x: hidden;
    background-color: #fefefe;
    color: #353841;
}

input {
    border: 1px solid #e7e7e7;
    outline: 0px;
    font-size: 16px;
    width: calc(100% - 32px);
    border-radius: 12px;
    padding: 16px 16px;
}
input:focus {
    border: 1px solid #cecece;
    outline: 0px;
}

.safe-area {
    width: calc(100vw - 32px);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
}

.view-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    width: calc(100vw - 32px);
}

::-webkit-scrollbar {display:none;}