@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    height: calc(100vh - 16px);
    width: calc(100vw - 16px);  
    margin: 0px;
    overflow-x: hidden;
    background-color: #fefefe;
    color: #353841;
}

.safe-area {
    width: calc(100vw - 32px);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
}

::-webkit-scrollbar {display:none;}