.bottom-navigation {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fefefe;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 64px;
    padding-top: 8px;
    padding-bottom: 4px;
    border-radius: 32px 32px 0px 0px;
    bottom: 0px;
}
.bottom-navigation button {
    border: 0;
    outline: 0;
    background-color: transparent;
}
.bottom-navigation-icon {
    width: 28px;
    height: 28px;
    color: gray;
}

.children-container {
    padding-left: 16px;
    padding-right: 16px;
}

.header-navigate {
    display: flex;
    align-items: center;
    width: 100vw;
}
.header-navigate-icon {
    font-size: 24px;
    margin-left: 16px;
    margin-top: 24px;
    color: #9DA2B0;
}