a {
    text-decoration: none;
    color: #353841;
}

.category-card-carousel {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: calc(100% + 16px);
    margin-left: -16px;
    gap: 12px;
    padding: 8px 16px;
}

.category-card {
    display: flex;
    flex-direction: column;
    min-width: 140px;
    align-items: center;
    border-radius: 16px;
}
.category-card h1 {
    margin: 8px;
}
.category-card h4 {
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 12px 12px;
    width: calc(100% - 48px);
    color: #353841;
    padding: 8px;
    border-radius: 16px;
    background-color: white;
}

.product-category h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
}

.product-card-carousel {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: calc(100% + 16px);
    margin-left: -16px;
    gap: 16px;
    padding: 8px 16px;
}

.product-card {
    display: flex;
    flex-direction: column;
    min-width: 130px;
    border-radius: 16px;
    align-items: center;
}

.product-card h4 {
    display: block;
    text-align: center;
    font-weight: 500;
    margin: 12px 12px;
}

.product-card small {
    display: block;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
}

.product-card .product-card-unit {
    display: block;
    font-weight: 300;
    text-align: center;
}

.product-category-see-more {
    display: flex;
    flex-direction: column;
    min-width: 130px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    color: #9DA2B0;
}
.product-category-see-more-icon {
    font-size: 24px;
}

.category-product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
}

.product-detailed-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 16px;
    height: 220px;
    padding: 16px;
}
.product-detailed-card img {
    height: 120px;
    width: 120px;
}
.product-detailed-card small {
    margin-bottom: 4px;
    font-weight: 600;
}
.product-detailed-card-unit {
    color: #9DA2B0;
    margin-bottom: 2px !important;
    font-weight: 400 !important;
}