@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
    font-family: 'Inter', sans-serif;
}

.h1 {
    color: #353841;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 8px;
}
.h1 span {
    color: #EE2E24;
}

.h2 {
    color: #353841;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.h2 span {
    color: #EE2E24;
}

.h3 {
    color: #353841;
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}
.h3 span {
    color: #EE2E24;
}

.b4 {
    color: #9DA2B0;
    font-size: 16px;
    font-weight: 400;
}
.b4 span {
    font-weight: 600;
    color: #EE2E24;
}